{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }} {{ classeMatiere.classe.code }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <table class="table table-borderless table-hover">
                <tr>
                    <td style="width:40%"></td>
                    <td></td>
                </tr>

                {{ form_row(form.matiere) }}
                {{ form_row(form.coeff) }}
                {{ form_row(form.nbre_heure_prevue) }} 

                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>

                        {% set url = path('classe_index') %}
                        {% if edit is defined %}
                            {% set url = path('classe_matiere_new', {'id': classeMatiere.classe.id}) %}
                        {% endif %}

                        <a href="{{ url }}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>

        {% if matieres is defined %}
            <div class="col-8 mt-4">
                <table class="table table-bordered- table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Coéfficient</th>
                        <th>Heure Prévue</th>
                        <th>Document</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="value">
                    {% for cm in matieres %}
                        <tr>
                            <td>{{ cm.matiere.code }}</td>
                            <td>{{ cm.coeff }}</td>
                            <td>{{ cm.NbreHeurePrevue }}</td>
                            <td>
                                <a href="{{ asset('cours/'~cm.document) }}" target="_blank">
                                    {{ cm.document }}
                                </a>
                            </td>
                            <td class="text-right">
                                <a href="{{ path('classe_matiere_edit', {'id': cm.id}) }}" class="btn btn-link p-0">
                                    <i class="fa fa-edit"></i>
                                    Modifier
                                </a>

                                <a href="{{ path('classe_matiere_delete', {'id': cm.id}) }}"
                                   class="btn btn-link p-0 text-danger">
                                    <i class="fa fa-trash-alt"></i>
                                    Supprimer
                                </a>

                                <a href="{{ path('lecon_new', {'id': cm.id}) }}" class="btn btn-link p-0">
                                    <i class="fa fa-file-alt"></i>
                                    Leçons
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('chosen/chosen.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chosen/chosen.jquery.min.js') }}"></script>

    <script>
        $(function () {
            var attr = $("#admin").attr("class");
            $("#admin").attr("class", attr + " active");
            attr = $("#classe_index").attr("class");
            $("#classe_index").attr("class", attr + " active");

            $(".chosen-select").chosen(
                {
                    allow_single_deselect: true,
                    no_results_text: "Option non trouvée !",
                    //width: "100%",
                }
            );

        });
    </script>
{% endblock %}