{% extends "base_print.html.twig" %}
{% set titre = 'Honoraire des professeurs' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h5>{{ titre }}</h5>
    {% if search.montant %}

        <h6>
            Dont le montant est supérieur ou égal à :
            <span class="value font-weight-bold">
                {{ search.montant|formatFr }}
            </span>
        </h6>
    {% endif %}

    <h6>
        Année scolaire :
        <span class="value font-weight-bold">
            {{ search.annee.nom }}
        </span>
    </h6>

    <h6>
        Du :
        <span class="value font-weight-bold">
            {{ search.debut|dateFr }}
        </span>
        Au :
        <span class="value font-weight-bold">
            {{ search.fin|dateFr }}
        </span>
    </h6>

    <table class="table table-bordered table-striped table-sm" style="margin-top: 20px">

        <thead class="bg-info text-white">
            <tr>
                <th style="width: 35%">Prénom</th>
                <th style="width: 35%">Nom</th>
                <th style="width: 30%">Montant</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <th class="value text-right"
                    style="padding-right: 10px">{{ total|formatFr }}
                </th>
            </tr>
        </tfoot>

        <tbody class="value">

            {% for cr in cours %}
                <tr>
                    <td>{{ cr.prenom }}</td>
                    <td>{{ cr.nom }}</td>
                    <td class="text-right" style="padding-right: 10px">
                        {{ cr.montant|formatFr }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de résultat</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}