{% extends "base_print.html.twig" %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<h5>Liste des étudiants</h5>

	<h6>
		Classe :
		<span class="value">{{ classe.code }}</span>
		{% if lettre %}
			<span class="value">{{ lettre }}</span>
		{% endif %}
	</h6>

	<h6>
		Année scolaire :
		<span class="value">{{ anScolaire.nom }}</span>
	</h6>

	{% if site %}
		<h6>
			Site :
			<span class="value">{{ site }}</span>
		</h6>
	{% endif %}

	<h6>
		Nombre :
		<span class="value">{{ etudiants | length }}</span>
	</h6>

	<table class="table table-bordered table-striped table-sm" style="margin-top: 20px">

		<thead class="bg-info text-white">
			<th style="width: 30%">Prénom</th>
			<th style="width: 30%">Nom</th>
			<th style="width: 15%">Matricule</th>
			<th style="width: 15%">Contact</th>
			<th>Photo</th>
		</thead>

		<tbody class="value">

			{% for etd in etudiants %}
				<tr>
					<td>{{ etd.prenom }}</td>
					<td>{{ etd.nom }}</td>
					<td>{{ etd.matricule }}</td>
					<td>{{ etd.telephone }}</td>
					<td style="width:50px">
						<img class="card-img-top img-thumbnail" src="{{ asset('images/etudiants/'~etd.photoDefault) }}" alt="{{ etd.prenomNom }}">
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas de résultat</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
