{% extends "base_print.html.twig" %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h5>Liste des étudiants dont le seuil est inférieur à <span class="text-danger">{{ critere.seuil }}%</span></h5>

    <h6>
        {% if critere.classe %}
        Classe :
        <span class="value">{{ critere.classe.code }}</span>
        {% endif %}
        {% if critere.filiere %}
        Classe :
        <span class="value">{{ critere.filiere.code }}</span>
        {% endif %}
        {% if critere.lettre %}
            <span class="value">{{ critere.lettre }}</span>
        {% endif %}
    </h6>

    <h6>
        Année scolaire :
        <span class="value">{{ critere.annee.nom }}</span>
    </h6>

    <h6>
        Nombre :
        <span class="value">{{ etudiants | length }}</span>
    </h6>

    <table class="table table-bordered table-striped table-sm" style="margin-top: 20px">

        <thead class="bg-info text-white">
        <th style="width: 30%;">Prénom</th>
        <th style="width: 30%;">Nom</th>
        <th style="width: 20%;">Montant dû</th>
        <th style="width: 20%;">Montant payé</th>
    </thead>

    <tbody class="value">

        {% for etd in etudiants %}
            <tr>
                <td>{{ etd.prenom }}</td>
                <td>{{ etd.nom }}</td>
                <td class="text-right">{{ etd.montant_du|formatFr }}</td>
                <td class="text-right">{{ etd.montant_paye|formatFr }}</td>
            </tr>
            {# <tr>
                <td>{{ etd.prenom }}</td>
                <td>{{ etd.nom }}</td>
                <td class="text-right">{{ etd.montant_du|formatFr }}</td>
                <td class="text-right">{{ etd.montant_paye|formatFr }}</td>
            </tr> #}
        {% else %}
            <tr>
                <td colspan="4">Pas de résultat</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}