{% extends "base.html.twig" %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    <span style="display: block; text-align: center">{{ titre }}</span>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row align-items-center justify-content-center"
         style="margin-bottom: 20px">

        <div class="col-4">
            <table class="table">
                <tr>
                    <td style="width: 40%"></td>
                    <td></td>
                </tr>
                {{ form_row(form.annee) }}
                {{ form_row(form.typeSeuil) }}
                <tr id="seuil_pourcentage">
                    <td>{{ form_label(form.seuil) }}</td>
                    <td>
                        {{ form_widget(form.seuil) }}
                        {{ form_errors(form.seuil) }}
                    </td>
                </tr>
               <tr id="seuil_montant">
                    <td>{{ form_label(form.montantSeuil) }}</td>
                    <td>
                        {{ form_widget(form.montantSeuil) }}
                        {{ form_errors(form.montantSeuil) }}
                    </td>
                </tr>
                {{ form_row(form.filiere) }}
                {{ form_row(form.classe) }}
                {{ form_row(form.lettre) }}
                {{ form_row(form.site) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-success">
                            <i class="fa fa-file-pdf"></i>
                            Afficher
                        </button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('chosen/chosen.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chosen/chosen.jquery.min.js') }}"></script>

    <script>
        $(function () {
            $('#gestion_scolaire').addClass('active');
            $('#gs_etat_index').addClass('class');

            $(".chosen-select").chosen({
                allow_single_deselect: true,
                no_results_text: "Option non trouvée !",
                //disable_search_threshold: 10,
            });

        });
    </script>

    <script>
    $(document).ready(function() {
        const $filiereSelect = $('#classe_annee_seuil_filiere');
        const $classeSelect = $('#classe_annee_seuil_classe');

        $filiereSelect.on('change', function () {
            const filiereId = $(this).val();
            $.ajax({
                url: '/get_classes/' + filiereId,
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    $classeSelect.empty(); // Clear old options

                    // Add placeholder
                    $classeSelect.append(
                        $('<option>', {
                            value: '',
                            text: 'Classe'
                        })
                    );

                    // Add new options
                    $.each(data, function(index, classe) {
                        $classeSelect.append(
                            $('<option>', {
                                value: classe.id,
                                text: classe.text
                            })
                        );
                    });

                    // Refresh Chosen plugin if used
                    if ($classeSelect.hasClass('chosen-select')) {
                        $classeSelect.trigger('chosen:updated');
                    }
                },
                error: function() {
                    console.error("Error fetching classes.");
                }
            });
        });

        function toggleSeuil() {
            const type = $('#classe_annee_seuil_typeSeuil').val();

            if (type === 'pourcentage') {
            console.log('ablo', type);
                $('#seuil_pourcentage').show();
                $('#seuil_montant').hide();
            } else {
                console.log('ablo', type);
                $('#seuil_pourcentage').hide();
                $('#seuil_montant').show();
            }
        }

        toggleSeuil();
        $('#classe_annee_seuil_typeSeuil').on('change', toggleSeuil);
    });
</script>
{% endblock %}