{% extends "base_print.html.twig" %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h5>{{ titre }}</h5>

    <h6>
        du : <span class="value font-weight-bold">{{ debut|dateFr }}</span>
        au : <span class="value font-weight-bold">{{ fin|dateFr }}</span>
    </h6>

    {% if type %}
        <h6>
            Type : <span class="value font-weight-bold">{{ type }}</span>
        </h6>
    {% endif %}

    {% if site %}
        <h6>
            Site : <span class="value font-weight-bold">{{ site.nom }}</span>
        </h6>
    {% endif %}

    <table class="table table-bordered table-striped table-sm" style="margin-top: 20px">

        <thead class="bg-info text-white">
        <th style="width: 15%">Date</th>
        <th style="width: 15%">Réf.</th>
        <th style="width: 30%">Libellé.</th>
        <th style="width: 20%">Montant</th>
        <th style="width: 20%">Type</th>
        </thead>

        <tfoot>
        <tr>
            <th colspan="3">Total</th>
            <th class="value text-right" style="padding-right: 20px">{{ total|formatFr }}</th>
            <th></th>
        </tr>
        </tfoot>

        <tbody class="value">

        {% for dep in depenses %}
            <tr>
                <td>{{ dep.date|dateFr }}</td>
                <td>{{ dep.ref }}</td>
                <td>{{ dep.libelle }}</td>
                <td class="text-right" style="padding-right: 20px">{{ dep.montant|formatFr }}</td>
                <td>{{ dep.type }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}