{% extends "base_print.html.twig" %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h5>{{ titre }}</h5>

    <h6>
        du : <span class="value font-weight-bold">{{ debut|dateFr }}</span>
        au : <span class="value font-weight-bold">{{ fin|dateFr }}</span>
    </h6>

    {% if site is defined and site is not null %}
        <h6>
            Site : <span class="value font-weight-bold">{{ site.nom }}</span>
        </h6>
    {% endif %}

    <table class="table table-bordered table-striped table-sm" style="margin-top: 20px">

        <thead class="bg-info text-white">
        <th style="width: 15%">Date</th>
        <th style="width: 15%">Réf.</th>
        <th style="width: 20%">Montant</th>
        <th style="width: 30%">Etudiant(e)</th>
        <th style="width: 20%">Banque</th>
        </thead>

        <tfoot>
        <tr>
            <th colspan="2">Total</th>
            <th class="value text-right" style="padding-right: 20px">{{ total|formatFr }}</th>
            <th colspan="2"></th>
        </tr>
        </tfoot>

        <tbody class="value">

        {% for paie in paiments %}
            <tr>
                <td>{{ paie.date|dateFr }}</td>
                <td>{{ paie.ref }}</td>
                <td class="text-right" style="padding-right: 20px">{{ paie.montant|formatFr }}</td>
                <td>{{ paie.etudiant.prenomNom }}</td>
                <td>{{ paie.banque.nom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}