{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-4">
            <table class="table table-borderless table-hover">
                {{ form_row(form.date) }}
                {{ form_row(form.ref) }}
                {{ form_row(form.montant) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary ">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>
                        <a href="{{ path('paiement_index') }}" class="btn btn-primary ">
                            <i class="fa fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-borderless table-hover">
                {{ form_row(form.anScolaire) }}
                {{ form_row(form.etudiant) }}
                {{ form_row(form.modeOperation) }}
                {{ form_row(form.banque) }}
                {{ form_row(form.nature) }}
                {{ form_row(form.site) }}
            </table>
        </div>

    </div>
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('chosen/chosen.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chosen/chosen.jquery.min.js') }}"></script>

    <script>
        $(function () {
            var attr = $('#gestion_scolaire').attr('class');
            $('#gestion_scolaire').attr('class', attr + ' active');
            attr = $('#paiement_new').attr('class');
            $('#paiement_new').attr('class', attr + ' active');

            $(".chosen-select").chosen(
                {
                    allow_single_deselect: true,
                    no_results_text: "Option non trouvée !",
                    //disable_search_threshold: 10,
                    width: "100%",
                }
            );

        });
    </script>
{% endblock %}