{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <a class="btn btn-link" href="{{ path('classe_new') }}">
            <i class="fa fa-chalkboard-teacher"></i>
            Enregistrer une classe
        </a>
    </div>

    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Filière</th>
                <th>Taux horaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for classe in classes %}
                <tr>
                    <td>{{ classe.code|upper }}</td>
                    <td>{{ classe.nom }}</td>
                    <td>{{ classe.filiere.code }}</td>
                    <td style="text-align: right; padding-right: 20px">{{ classe.taux | formatFr }}</td>
                    <td class="text-right">
                        <a href="{{ path('classe_edit', {'id': classe.id}) }}" class="btn btn-link py-0">
                            <i class="fa fa-edit"></i>
                            Modifier
                        </a>

                        <a href="{{ path('classe_delete', {'id': classe.id}) }}" class="btn btn-link py-0 text-danger">
                            <i class="fa fa-trash-alt"></i>
                            Supprimer
                        </a>

                        <a href="{{ path('classe_matiere_new', {'id': classe.id}) }}" class="btn btn-link py-0">
                            <i class="fa fa-superscript"></i>
                            Matières
                        </a>
                    </td>
                </tr>
            {% else %}
            <caption>
                Pas d'enregistrement
            </caption>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('DataTables/datatables.min.js') }}"></script>

    <script>
        $(function () {
            $("#admin").addClass("active");
            $("#classe_index").addClass("active");

            $('#myTable').DataTable({
                order: [],
            });
        });
    </script>
{% endblock %}