{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <a class="btn btn-link" href="{{ path('matiere_new') }}">
            <i class="fa  fa-superscript"></i>
            Enregistrer une matiere
        </a>
    </div>

    <table class="table table-bordered- table-striped table-hover" id="myTable">
        <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.code|upper }}</td>
                <td>{{ matiere.nom }}</td>
                <td class="text-right">
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}" class="btn btn-link py-0">
                        <i class="fa  fa-edit"></i>
                        Modifier
                    </a>

                    <a href="{{ path('matiere_delete', {'id': matiere.id}) }}" class="btn btn-link py-0 text-danger">
                        <i class="fa  fa-trash-alt"></i>
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <caption>Pas d'enregistrement</caption>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('DataTables/datatables.min.js') }}"></script>

    <script>
        $(function () {
            $("#admin").addClass("active");
            $("#matiere_index").addClass("active");

            $('#myTable').DataTable({
                order: [],
            });

        });
    </script>
{% endblock %}