{% extends 'base.html.twig' %}
{% set titre = 'Fiche professeur' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <div class="breadcrumb">
        <a class="btn btn-link" href="{{ path('prof_index') }}">
            <i class="fa  fa-user-astronaut"></i>
            Liste des professeurs
        </a>
        <a class="btn btn-link"
           href="{{ path('dossier_new',{'id': prof.id, 'type': 'p'}) }}">
            <i class="fa  fa-folder-open"></i>
            Dossiers
        </a>
        <a class="btn btn-link" href="{{ path('prof_matiere_new',{'id':prof
            .id}) }}">
            <i class="fa  fa-chalkboard-teacher"></i>
            Ajouter une matière
        </a>
    </div>

    <div class="row">
        <div class="col-4">
            <table class="table table-borderless table-hover">
                <tbody>
                <tr>
                    <td>Prénom</td>
                    <td>{{ prof.prenom }}</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>{{ prof.nom }}</td>
                </tr>
                <tr>
                    <td>Spécialité</td>
                    <td>{{ prof.specialite }}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{ prof.telephone }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-borderless table-hover">
                <tbody>
                <tr>
                    <td>Taux horaire</td>
                    <td>{{ prof.taux|formatFr }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ prof.email }}</td>
                </tr>
                <tr>
                    <td>Entrée</td>
                    <td>{{ prof.dateEntree|dateFr }}</td>
                </tr>
                <tr>
                    <td>Sortie</td>
                    <td>{{ prof.dateSortie|dateFr }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Matière</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for profMat in profMatieres %}
                    <tr>
                        <td>{{ profMat.matiere.code }}</td>
                        <td>{{ profMat.debut }}</td>
                        <td>{% if profMat.fin %}{{ profMat.fin }}{% endif %}</td>
                        <td>
                            <a href="{{ path('prof_matiere_edit',{'id':profMat.id}) }}">
                                <i class="fa  fa-edit"></i>
                            </a>
                            <a href="{{ path('prof_matiere_delete', {'id': profMat.id}) }}"
                               title="Supprimer">
                                <i class="fa  fa-trash-alt text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Dossierss</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for doss in dossiers %}
                    <tr>
                        <td>{{ doss.nom }}</td>
                        <td>
                            <a href="{{ asset('documents/'~doss.lien) }}"
                               title="Afficher" target="_blank">
                                <i class="fa  fa-download"></i>
                            </a>
                            <a href="{{ path('dossier_edit', {'id': doss.id}) }}"
                               title="Modifier">
                                <i class="fa  fa-edit"></i>
                            </a>
                            <a href="{{ path('dossier_delete', {'id': doss.id}) }}"
                               title="Supprimer">
                                <i class="fa  fa-trash-alt text-danger"></i>
                            </a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Etudiants parrainés</th>
                </tr>
                </thead>
                <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>
                            <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">
                                {{ etudiant.prenomNomMle }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#autre').addClass('active');
            $('#prof_index').addClass('active');
        });
    </script>
{% endblock %}