{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-4">
            <table class="table table-borderless table-hover table-sm">
                <tr>
                    <td style="width: 40%"></td>
                    <td></td>
                </tr>
                {{ form_row(form.name) }}
                {{ form_row(form.role) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-sm fa-save"></i>
                            Enregistrer
                        </button>
                        <a href="{{ path('group_index') }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-sm fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}