{% extends 'base_all.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}
{% block titre %}
    <span class="text-center d-block">
        Changer mon mot de passe
    </span>
{% endblock %}

{% block body %}
    {{ form_start(form, {attr:{'novalidate':'novalidate'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4 offset-4">
            <table class="table">
                {{ form_row(form.oldPassword) }}
                {{ form_row(form.newPassword.first) }}
                {{ form_row(form.newPassword.second) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn  btn-success" type="submit">
                            <i class="fas fa-save"></i>
                            Enregistrer
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#moi_index").addClass("active");
            $("#change_password").addClass("active");
        });
    </script>
{% endblock %}