{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h4 class="text-danger">Voulez-vous supprimer l'utilisateur suivant ?</h4>

    {{ form_start(form, {'attr':{'id':'delete_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-hover">
                <tbody>
                    <tr>
                        <td>Nom</td>
                        <td >{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>Login</td>
                        <td >{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td >{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="delete_btn" class="btn btn-danger ">
                                <i class="fa  fa-trash-alt"></i>
                                Supprimer
                            </button>
                            <a href="{{ path('user_index') }}" class="btn  btn-success">
                                <i class="fa  fa-arrow-left"></i>
                                Annuler
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var attr = $("#admin").attr("class");
            $("#admin").attr("class", attr + " active");
            attr = $("#user_index").attr("class");
            $("#user_index").attr("class", attr + " active");

            $('#delete_btn').click(function () {
                if (confirm('Voulez-vous supprimer cet utilisateur ?')) {
                    $('#delete_form').submit();
                }
            });

        });
    </script>
{% endblock %}