{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block titre %}
	{{ titre }}
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="col-4">
		<table class="table table-borderless table-hover">
			<tbody>
				<tr>
					<td style="width: 40%"></td>
					<td></td>
				</tr>
				{{ form_row(form.date) }}
				{{ form_row(form.titre) }}
				{{ form_row(form.type) }}
                {{ form_row(form.file) }}

                <tr>
                    <td></td>
                    <td>
                        <button class="btn  btn-primary">
                            <i class="fa  fa-save"></i>
                            Engerister
                        </button>
                        <a href="{{ path('autre_doc_index') }}" class="btn 
                        btn-primary">
                            <i class="fa  fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
			</tbody>
		</table>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('chosen/chosen.min.css') }}">
    <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>

    <script>
        $(function () {
            $("#autre").addClass("active");
            $("#autre_doc_new").addClass("active");

            $(".chosen-select").chosen({
                allow_single_deselect: true,
                no_results_text: "Option non trouvée !",
            });
        });
    </script>
{% endblock %}
