{% extends 'base.html.twig' %}

{% block body %}
    <h1>Autredocument</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ autreDocument.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if autreDocument.date %}{{ autreDocument.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ autreDocument.titre }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ autreDocument.type }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ autreDocument.lien }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('autre_doc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('autre_doc_edit', { 'id': autreDocument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
