{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-4">
            <table class="table table-borderless table-hover">
                <tbody>
                <tr>
                    <td style="width: 40%"></td>
                    <td></td>
                </tr>
                {{ form_row(form.prof) }}
                {{ form_row(form.classe) }}
                {{ form_row(form.matiere) }}
                {{ form_row(form.anScolaire) }}
                {{ form_row(form.site) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn  btn-primary">
                            <i class="fa  fa-save"></i>
                            Enregistrer
                        </button>
                        <a href="{{ path('cours_index') }}" class="btn 
                        btn-primary">
                            <i class="fa  fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-borderless table-hover">
                <tbody>
                <tr>
                    <td style="width: 40%"></td>
                    <td></td>
                </tr>
                {{ form_row(form.date) }}
                {{ form_row(form.debut) }}
                {{ form_row(form.fin) }}
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('chosen/chosen.min.css') }}">
    <link rel="stylesheet" href="{{ asset('DataTables/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('DataTables/datatables.min.js') }}"></script>

    <script>
        $(function () {
            var attr = $("#autre").attr("class");
            $("#autre").attr("class", attr + " active");
            attr = $("#cours_new").attr("class");
            $("#cours_new").attr("class", attr + " active");

            $(".chosen-select").chosen({
                allow_single_deselect: true,
                no_results_text: "Option non trouvée !",
                //disable_search_threshold: 10,
                //width: "74%",
                //inherit_select_classes: true
            });
        });

        function nbreHeure() {
            $("#appbundle_cours_nbreHeure").val(
                $("#appbundle_cours_fin").val() - $("#appbundle_cours_debut").val()
            )
        }
    </script>
{% endblock %}
