{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-4">
            <table class="table table-borderless table-hover">
                <tr>
                    <td style="width: 40%"></td>
                    <td></td>
                </tr>
                {{ form_row(form.nom) }}
                {{ form_row(form.code) }}
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>

                        <a href="{{ path('banque_index') }}" class="btn btn-primary">
                            <i class="fa fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var attr = $("#admin").attr("class");
            $("#admin").attr("class", attr + " active");
            attr = $("#banque_index").attr("class");
            $("#banque_index").attr("class", attr + " active");
        });
    </script>
{% endblock %}