{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h4 class="text-danger">Voulez-vous supprimer ce cours ?</h4>

    {{ form_start(form, {'attr':{'id':'delete_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-hover">
                <tbody>
                <tr>
                    <td>Matière</td>
                    <td class="value">{{ cours.matiere.code }}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td class="value">
                        {{ cours.date|dateFr }} dr {{ cours.debut|date
                            ('H:i') }} à {{ cours.fin|date('H:s') }}
                    </td>
                </tr>
                <tr>
                    <td>Classe</td>
                    <td class="value">{{ cours.classe.code }}</td>
                </tr>
                <tr>
                    <td>Professeur</td>
                    <td class="value">{{ cours.prof.prenomNom }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" id="delete_btn" class="btn btn-danger ">
                            <i class="fa  fa-trash-alt"></i>
                            Supprimer
                        </button>
                        <a href="{{ path('cours_index') }}" class="btn btn-success">
                            <i class="fa  fa-arrow-left"></i>
                            Annuler
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#autre").addClass("active");
            $("#cours_index").addClass("active");

            $("#delete_btn").click(function () {
                if (confirm("Voulez-vous supprimer ce cours ?")) {
                    $("#delete_form").submit();
                }
            });
        });
    </script>
{% endblock %}