{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}Suppression Evaluation{% endblock %}

{% block titre %}Suppression Evaluation{% endblock %}

{% block body %}
    <h4 class="text-danger">Voulez-vous supprimer l'évaluation suivante ?</h4>
    <p class="text-danger">Cette opértion entraine aussi la suppression de toutes les notes associées.</p>

    {{ form_start(form, {'attr':{'id':'delete_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            <table class="table table-sm table-borderless table-hover">
                <tbody>
                    <tr style="width: 40%;">
                        <th>Evaluation</th>
                        <td class="value">{{ evaluation.periode.nom }}</td>
                    </tr>
                    <tr>
                        <th>Année scolaire</th>
                        <td class="value">{{ evaluation.anScolaire.nom }}</td>
                    </tr>                    
                    <tr>
                        <th>Classe</th>
                        <td class="value">{{ evaluation.classe.code }}</td>
                    </tr>
                    <tr>
                        <th>Matière</th>
                        <td class="value">{{ evaluation.matiere.code }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="delete_btn" class="btn btn-danger btn-sm">
                                <i class="fa fa-sm fa-trash-alt"></i>
                                Supprimer
                            </button>
                            <a href="{{ path('evaluation_show',{'id':evaluation.id}) }}" class="btn btn-sm btn-success">
                                <i class="fa fa-sm fa-arrow-left"></i>
                                Annuler
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#gestion_bulletin").addClass("active");

            $("#delete_btn").click(function () {
                if (confirm("Voulez-vous supprimer cette évaluation ?")) {
                    $("#delete_form").submit();
                }
            });
        });
    </script>
{% endblock %}