{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block titre %}
    {{ titre }}
{% endblock %}

{% block body %}
    <h4 class="text-danger">Voulez-vous supprimer le cycle suivant ?</h4>

    {{ form_start(form, {'attr':{'id':'delete_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            <table class="table  table-borderless table-hover">
                <tbody>
                    <tr>
                        <td>Code</td>
                        <td class="value">{{ cycle.code }}</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td class="value">{{ cycle.nom }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="delete_btn" class="btn btn-danger ">
                                <i class="fa fa-trash-alt"></i>
                                Supprimer
                            </button>
                            <a href="{{ path('cycle_index') }}" class="btn  btn-success">
                                <i class="fa fa-arrow-left"></i>
                                Annuler
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var attr = $("#admin").attr("class");
            $("#admin").attr("class", attr + " active");
            attr = $("#cycle_index").attr("class");
            $("#cycle_index").attr("class", attr + " active");

            $("#delete_btn").click(function () {
                if (confirm("Voulez-vous supprimer ce cycle ?")) {
                    $("#delete_form").submit();
                }
            });
        });
    </script>
{% endblock %}