<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {{ app_name }}
            - Login
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('fontawesome/css/fontawesome-all.min.css') }}">
    </head>

    <body>

        <div class="row align-items-center justify-content-center" style="margin-top: 50px">
            <div
                class="col-3">
                <img class="img-fluid" src="{{ asset('images/logo_esgic_01.png') }}">
                {# <img class="img-fluid" src="{{ asset('images/background.jpg') }}"> #}
            </div>
            
            <div class="col-3">
                <div class="card bg-light ">
                    <div class="card-header">Remplisser le formulaire</div>
                    <div class="card-body">
                        {% block body %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
